<div fxLayout="row" fxLayout.xs="column" [fxLayoutAlign]="align" class="text-muted">
    <div *ngIf="product?.availibilityCount > 0 && (type=='all')">
        <bdi>
            <span class="fw-500">Cantidad:</span>
            <button mat-icon-button matTooltip="Quitar" (click)="decrement()"><mat-icon>remove</mat-icon></button>
            <span> {{count}} </span>
            <button mat-icon-button matTooltip="Más" (click)="increment()"><mat-icon>add</mat-icon></button>
        </bdi>
    </div>
    <div>
        <button mat-button matTooltip="Agregar" *ngIf="product?.availibilityCount > 0" (click)="addToCart(product)"><mat-icon>shopping_cart</mat-icon> Agregar al carrito</button>
        <button *ngIf="type!='all'" mat-icon-button matTooltip="Vista rápida" (click)="openProductDialog(product)"><mat-icon>remove_red_eye</mat-icon></button>
    </div>
</div>
<div *ngIf="product?.availibilityCount == 0 && type=='all'" class="bg-warn p-1 mt-2">
    Lo sentimos, No tenemos disponible este producto de forma inmediata. Contactanos para más información.
</div>
