<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
    <div fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
        <mat-card class="p-0 mat-elevation-z6 box">
            <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                <img src="assets/images/logos/logoJardepot.png" alt="" style="height: 50px;">
                <h1 class="error"><mat-icon class="mat-icon-xlg" style="color: #f68600 !important;">error</mat-icon> 404</h1>
            </div>
            <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z8 box-content-inner" ngStyle.lt-md="font-size: 12px;" style="font-size: 16px;">
                    <p class="box-text">Opps, parece que la página que buscabas no existe.</p>
                    <p class="box-text">Si estas seguro que berebería existir, buscala en nuestro buscador.</p>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Busqueda de productos</mat-label>
                        <input matInput placeholder="Escribe la palabra de busqueda">
                    </mat-form-field>
                </mat-card>
                <div class="box-footer">
                    <button mat-raised-button color="primary" class="mat-elevation-z8" type="button" (click)="goHome()">
                        <mat-icon>home</mat-icon>
                    </button>
                    <button mat-raised-button color="primary" class="mat-elevation-z8" type="button" (click)="goHome()">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>          
    </div>
</div>
