<div class="telephone-container" fxLayout="column" ngStyle.gt-sm="width: 700px;">
    <div class="close-btn-outer" fxLayout="row" fxLayoutAlign="space-between center">
        <h2>Teléfonos en el País</h2>
        <button mat-mini-fab color="warn" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
    <div mat-dialog-content style="max-height: 80vh;">
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="100">
                <div class="py-1 text-muted" fxLayout="row wrap">
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>CDMX</strong></p>
                        <span>(55) 4997 4360</span>
                        <!--                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (55) 4996 8849</span>-->
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>Morelos</strong></p>
                        <span>(777) 317 9630</span>
                        <!--                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (777) 317 9652</span>-->
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>Edo. Mex.</strong></p>
                        <span>(722) 648 1040</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>Puebla</strong></p>
                        <span>(222) 705 1726</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>Michoacán</strong></p>
                        <span>(443) 356 0484</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>Nuevo León</strong></p>
                        <span>(812) 063 5708</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>Q. Roo</strong></p>
                        <span>(998) 294 0670</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
<!--                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>San Luis Potosí</strong></p>-->
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>S.L.P.</strong></p>
                        <span>(444) 328 0420</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>Guadalajara</strong></p>
                        <span>(33) 1728 3353</span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>Tabasco</strong></p>
                        <span>(993) 307 0286</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>Yucatán</strong></p>
                        <span>(999) 349 1123</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>Del Interior</strong></p>
                        <span>(800) 212 9225</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>Veracruz</strong></p>
                        <span>(229) 330 0992</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><mat-icon class="mat-icon-sm">call</mat-icon> <strong>Hidalgo</strong></p>
                        <span>(771) 688 7808</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
