<div class="top-menu" fxLayout="row">

    <span fxLayoutAlign="center center" style="cursor: pointer;" (click)="openTelephoneDialog()">
                <mat-icon class="mat-icon-sm">call</mat-icon>Teléfonos de contacto <mat-icon class="mat-icon-sm">arrow_drop_down</mat-icon>
    </span>
    <!--<span #telephoneListTrigger="matMenuTrigger" [matMenuTriggerFor]="telephoneList" fxLayoutAlign="center center" style="cursor: pointer;">
                <mat-icon class="mat-icon-sm">call</mat-icon> Teléfonos<mat-icon class="mat-icon-sm">arrow_drop_down</mat-icon>
    </span>

    <mat-menu #telephoneList="matMenu" [overlapTrigger]="false" class="top-menu-dropdown cart-dropdown"
              xPosition="before">
        <ng-template matMenuContent >
            <div (click)="$event.stopPropagation()" class="d-block" fxLayout="column" style="max-width: 900px;">

                <div class="text-muted" fxLayout="column" fxLayoutAlign="space-between center">
                    <p class="tel-title"><b>Teléfonos en el País</b></p>
                </div>
                <div class="divider mt-1"></div>
                <div class="py-1 text-muted" fxLayout="row wrap">
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50">
                        <p><strong>CDMX</strong></p>
                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (55) 4997 4360</span>
&lt;!&ndash;                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (55) 4996 8849</span>&ndash;&gt;
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50">
                        <p><strong>Morelos</strong></p>
                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (777) 317 9630</span>
&lt;!&ndash;                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (777) 317 9652</span>&ndash;&gt;
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50" ngStyle.lt-md="padding-top: 10px; padding-bottom: 10px; ">
                        <p><strong>Edo. Mex.</strong></p>
                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (722) 648 1040</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50" ngStyle.lt-md="padding-top: 10px; padding-bottom: 10px; ">
                        <p><strong>Puebla</strong></p>
                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (222) 705 1726</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50" ngStyle.lt-md="padding-top: 10px; padding-bottom: 10px; ">
                        <p><strong>Michoacán</strong></p>
                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (443) 356 0484</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50" ngStyle.lt-md="padding-top: 10px; padding-bottom: 10px; ">
                        <p><strong>Nuevo León</strong></p>
                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (812) 063 5708</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50" ngStyle.lt-md="padding-top: 10px; padding-bottom: 10px; ">
                        <p><strong>Quintana Roo</strong></p>
                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (998) 294 0670</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50" ngStyle.lt-md="padding-top: 10px; padding-bottom: 10px; ">
                        <p><strong>San Luis Potosí</strong></p>
&lt;!&ndash;                        <p><strong>S.L.P.</strong></p>&ndash;&gt;
                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (444) 328 0420</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50" ngStyle.lt-md="padding-top: 10px; padding-bottom: 10px; ">
                        <p><strong>Guadalajara</strong></p>
                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (33) 1728 3353</span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50" ngStyle.lt-md="padding-top: 10px; padding-bottom: 10px; ">
                        <p><strong>Tabasco</strong></p>
                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (993) 307 0286</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50" ngStyle.lt-md="padding-top: 10px; padding-bottom: 10px; ">
                        <p><strong>Yucatán</strong></p>
                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (999) 349 1123</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50" ngStyle.lt-md="padding-top: 10px; padding-bottom: 10px; ">
                        <p><strong>Del Interior</strong></p>
                        <span><mat-icon class="mat-icon-sm">call</mat-icon> (800) 212 9225</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50">
                        <p><strong>Veracruz</strong></p>
                        <span><mat-icon class="mat-icon-sm">call</mat-icon>(229) 330 0992</span>
                    </div>

                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="50">
                        <p><strong>Hidalgo</strong></p>
                        <span><mat-icon class="mat-icon-sm">call</mat-icon>(771) 688 7808</span>
                    </div>
                </div>

            </div>
        </ng-template>
    </mat-menu>-->
</div>
