.title-product{
    font-size: 28px;
}
.description-product{
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
    color: #000000DE;
}
.old-price{
    text-decoration: line-through;
    font-size: 16px;
}
.new-price{
    font-size: 28px;
}
.old-price-recom{
    text-decoration: line-through;
    font-size: 15px;
    text-align: center;
}
.new-price-recom{
    font-size: 16px;
    text-align: center;
}
.text-bold-tiny{
    font-weight: 700;
    font-size: 12px;
}

.conditons{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0 !important;
}

.product-item img {
    max-width: 100%;
    margin-bottom: 12px;
}
.product-item .title {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #ff6d00 !important;
}
.text-truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden!important;
}

/*Bloquea el zoom en moviles*/
.product-image {
    position: relative;
}
.product-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
}
@media only screen and (min-width: 1024px) {
    .product-image::before {
        display: none;
    }
}
