.old-price{
    color: rgba(0,0,0,.54);
    margin: 0;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
}

.new-price{
    color: #de1f21;
    font-size: 16px;
    font-weight: 500;
}

.btn-buy{
    color: #fff;
    background-color: #de1f21!important;
    border-radius: 10px;
    width: 110px;
    font-size: 16px;
    border: none;
    padding: 1px;
    box-shadow: 1px 1px 1px #999;
    min-height: 27px;
}

.envio-volada{
    color: #15a225!important;
    font-weight: 700;
    font-size: 16px;
}

.little-letters{
    color: rgba(0,0,0,.87);
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}

.product-description{
    font-size: 14px;
    color: rgba(0,0,0,.54)!important;
    height: 74px;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-add-cart{
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    cursor: pointer;
    outline: 0;
    border: none;
    box-sizing: border-box;
    position: relative;
    color: inherit;
    background: 0 0;
}

.btn-add-cart:hover{
    transition: 0.5s;
    background-color: rgba(0,0,0,0.1);
}

.product-item{
    max-width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#dropdownMenuLink{
    background: none;
    border: none;
    box-shadow: none !important;
}
@media (min-width: 992px){
    #content-products-principal{
        max-width: 78%;
        margin-left: 1%;
    }
}
