


<app-banners [banners]="banners"></app-banners>

<div fxLayout="row wrap" class="info-bar" fxShow="" fxHide.lt-md="">
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg m-0 fn-color-jd">build</mat-icon>
            <div class="content">
                <p style="color: rgba(0, 0, 0, 0.87) !important;">Garantía y Refacciones</p>
                <span class="text-muted m-0">Todos los equipos cuentan con una garantía contra defectos de fábrica y son respaldados con repuestos originales disponibles.</span>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg fn-color-jd m-0">local_shipping</mat-icon>
            <div class="content">
                <p style="color: rgba(0, 0, 0, 0.87) !important;">Envío Seguro</p>
                <span class="text-muted m-0">Mediante nuestros contratos de servicios, realizamos envíos sin costo con paqueterías confiables y profesionales.</span>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg m-0 fn-color-jd">monetization_on</mat-icon>
            <div class="content">
                <p style="color: rgba(0, 0, 0, 0.87) !important;">Paga Seguro</p>
                <span class="text-muted m-0">Contamos con métodos de pago en bancarias confiables,
                    ya que somos una empresa afiliada a la canacintra.</span>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
        <mat-card class="light-block" fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon class="mat-icon-xlg m-0 fn-color-jd">perm_phone_msg</mat-icon>
            <div class="content">
                <p style="color: rgba(0, 0, 0, 0.87) !important;">Soporte y asesoria</p>
                <span class="text-muted m-0">Contamos con un equipo de ingenieros para dar un soporte y asesoria por medio de llamadas telefónicas o mensajería instantanea a todos nuestros clientes </span>
            </div>
        </mat-card>
    </div>
</div>

<app-sections-panel [productTypes]="productTypes" [brands]="brands" [additional]="additional"></app-sections-panel>
<!--<div class="products-tabs">

    <mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)">
       
        <mat-tab label="Featured">           
           <app-products-carousel [products]="featuredProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="On Sale">
           <app-products-carousel [products]="onSaleProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="Top Rated">
            <app-products-carousel [products]="topRatedProducts"></app-products-carousel>
        </mat-tab>
        <mat-tab label="New Arrivals">
            <app-products-carousel [products]="newArrivalsProducts"></app-products-carousel>
        </mat-tab>
    </mat-tab-group> 


</div>-->

<app-brands-carousel [brands]="distributions"></app-brands-carousel>

