.align-cont{
    margin: 0 auto;
    position: relative;
}

.bg-color-jd{
    background-color: #f68600 !important;
    color: white !important;
}

.fn-color-jd{
    color: #f68600 !important;
}

.title-muted{
    color: #616161!important;
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.bg-color-oferta{
    background-color: #de1f21 !important;
    color: #fff !important;
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1300px !important;
    }
}
