.navbar-heigth{
    height: 10%;
}

.div-navbar{
    border-radius: 0 0 10px 10px;
    background-color: #f68600 !important;
    height: 60px;
    width: 98%;
    max-width: 1300px;
    z-index: 3;
    margin-top: -21px;
    position: fixed;
}
.div-navbar-position {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
}

.logo-navbar{
    height: 80%;
}
.align-cont{
margin: 0 auto;
    position: relative;
}
