<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor="white" style="font-family: Arial, Helvetica, sans-serif; background-color: #fff; margin: 0 !important; padding: 0 !important;">
<!-- HIDDEN PREHEADER TEXT -->

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <!-- LOGO -->
    <tr>
        <td align="left">
            <img src="cid:header" width="800" />
        </td>
    </tr>
    <!-- HERO -->
    <tr>
        <td align="left" style="padding: 0px 10px 0px 10px;">
            <table align="left" border="0" cellspacing="0" cellpadding="0" width="800">
                <tr>
                    <td align="left" valign="top" width="800">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="100%" align="left"
                                    style="
                                        width: 100%; font-size: 18px; font-weight: normal;
                                        color:#555555; text-align: left;
                                        padding-top: 15px; padding-bottom: 15px;
                                        padding-left: 10px; padding-right: 10px;
                                        margin-bottom: 7px;
                                        height: 0.75cm;">
                                    <p>¡Qué tal [[nombre_comprador]]!</p>
                                    <p>Bienvenido a la familia Jardepot</p>
                                    <p>Sabemos que al igual que nosotros, quieres crecer y aumentar
                                        tus ventas. Te invitamos a que revises nuestro catálogo,
                                        tenemos <strong>más de 2000 productos</strong> disponibles
                                        para que puedas ampliar la oferta en tu negocio.
                                    </p>
                                    <p>Te hemos preparado un video de bienvenida para explicarte
                                        un poco más de todos los beneficios que ahora tienes, sin embargo,
                                        nuestras líneas telefónicas siguen disponibles para ti,
                                        desde ahora, <strong>tu crecimiento también es nuetra tarea.</strong>
                                    </p>
                                    <p>
                                        Detrás de tu negocio, sea pequeño o grande, no olvides que ahora
                                        hay un gran equipo detrás de ti para apoyarte, y, para eso,
                                        hemos desarrollado esta plataforma, para estar más cerca de ti.
                                    </p>
                                    <br/>
                                    <p>
                                        Muchas gracias, [[nombre_comprador]] por formar parte de la familia Jardepot
                                    </p>
                                    <br/>
                                    <p>Atte. <br/> El equipo Jardepot.</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- fin bancos -->
    <tr>
        <td align="left">
            <img src="cid:footer" width="800" />
        </td>
    </tr>
    <!-- FOOTER -->
</table>



</table>
</body>
</html>
