<div class="brands-carousel"> 
    <div class="swiper-container h-100" [swiper]="config">
        <p class="mat-card-title">Nuestros canales de distribución</p>
        <div class="swiper-wrapper h-100">      
            <div *ngFor="let brand of brands" class="swiper-slide">
                <div class="p-0" fxLayout="column" fxLayoutAlign="center center">
                    <a href="{{brand.url}}" target="_blank" class="brand-item">
                        <img [attr.data-src]="brand.image" class="swiper-lazy">
                    </a>
                    <p class="text-default">{{brand.name}}</p>
                    <div class="swiper-lazy-preloader"></div>
                </div>
            </div>
        </div> 
        <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
        <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button> 
    </div>
</div>
