<mat-sidenav-container>


    <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="filter-sidenav" perfectScrollbar>

        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Ordenar por</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutAlign="space-between center" class="text-muted">
                <div fxLayout="column" fxLayoutAlign="space-between center" class="mt-2">
                    <mat-radio-button value="relevant" (change)="orderBy($event)">Relevancia</mat-radio-button>
                    <mat-radio-button value="low-high" (change)="orderBy($event)">Precio: menos - más</mat-radio-button>
                    <mat-radio-button value="high-low" (change)="orderBy($event)">Precio: más - menos</mat-radio-button>
                </div>

            </div>
            <div fxLayout="column" fxLayoutAlign="space-between center" class="text-muted mt-2">
                <h3>Mostrar solo: </h3>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="filter-brands mt-2">
                    <button fxFlex="46" mat-raised-button *ngFor="let section of sections" id="btn-{{section.name}}" (click)="addCategoriteFilter(section, $event)"
                            [class.selected]="!section.selected" class="bg-color-jd btn-section" style="width: auto; padding: 4px;">
                        {{section.name}}
                    </button>
                </div>

            </div>
        </mat-expansion-panel>


        <app-sections-side [productTypes]="productTypes" [brands]="brands" [additional]="additional"></app-sections-side>

    </mat-sidenav>


    <mat-sidenav-content class="all-products" ngClass.gt-sm="p-left">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-sm="end center" fxLayoutAlign.sm="space-between center" class="filter-row mat-elevation-z1 text-muted">
            <button mat-button *ngIf="!sidenavOpen" (click)="sidenav.toggle()" class="bg-color-jd">
                Secciones
            </button>
            <div>
                <a mat-button [matMenuTriggerFor]="countsMenu" #countsMenuTrigger="matMenuTrigger">
                    Mostrar {{count}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #countsMenu="matMenu" xPosition="before" class="app-dropdown" overlapTrigger="true">
                    <span (mouseleave)="countsMenuTrigger.closeMenu()">
                        <button mat-menu-item *ngFor="let count of counts" (click)="changeCount(count)">
                            <span>{{count}}</span>
                        </button>
                    </span>
                </mat-menu>
                <button mat-icon-button (click)="changeViewType('list', 100)">
                    <mat-icon>view_list</mat-icon>
                </button>
                <button mat-icon-button (click)="changeViewType('grid', 33.3)">
                    <mat-icon>view_module</mat-icon>
                </button>
                <button mat-icon-button (click)="changeViewType('grid', 25)">
                    <mat-icon>view_comfy</mat-icon>
                </button>
            </div>
        </div>

        <div *ngIf="viewType == 'grid'" fxLayout="row wrap" class="products-wrapper">
            <div *ngFor="let product of products | paginate: { itemsPerPage: count, currentPage: page } | orderBy : orderByOption" fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="col">
                <mat-card class="product-item text-center">
                    <mat-chip-list *ngIf="product.discount">
                        <mat-chip selected="true" class="bg-color-jd">{{product.discount}}% OFF</mat-chip>
                    </mat-chip-list>
                    <a [routerLink]="['/productos/catalogo/', changeStringBrand(product.brand), changeString(product.productType, product.brand, product.mpn)]" class="image-link">
                        <img [src]="product.images[0].medium" alt="">
                    </a>
                    <h4 class="category text-muted">{{ ( appService.Data.categories | filterById : product.categoryId )?.name }}</h4>                                                                     
                    <a [routerLink]="['/productos/catalogo/', changeStringBrand(product.brand), changeString(product.productType, product.brand, product.mpn)]" class="title-muted text-truncate">
                        {{product.productType}}<br>
                        {{product.brand}} {{product.mpn}}
                    </a>
                    <div fxLayout="row" fxLayoutAlign="center" class="prices">
                        <div fxLayout="column" fxLayoutAlign="center">
                            <p class="old-price text-muted"><span *ngIf="product.oldPrice">${{product.oldPrice | number : '1.2-2'}}</span></p>
                            <p class="new-price {{product.oldPrice ? 'fn-color-jd':''}} ">${{product.newPrice | number : '1.2-2'}}</p>
                        </div>
                    </div>                            
                    <div class="divider mt-2"></div>
                    <div class="icons">
                        <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls>
                    </div>
                </mat-card>
            </div>
        </div>

        <div *ngIf="viewType == 'list'" fxLayout="row wrap" class="products-wrapper">
            <div  *ngFor="let product of products | paginate: { itemsPerPage: count, currentPage: page } | orderBy : orderByOption" fxFlex="100" class="col">
                <mat-card class="product-item">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="40" class="p-2">
                            <mat-chip-list *ngIf="product.discount" class="list-view">
                                <mat-chip selected="true" class="bg-color-jd">{{product.discount}}% OFF</mat-chip>
                            </mat-chip-list>
                            <a [routerLink]="['/productos/catalogo/', changeStringBrand(product.brand), changeString(product.productType, product.brand, product.mpn)]" class="image-link">
                                <img [src]="product.images[0].medium" alt="">
                            </a>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="60" class="p-2">
                            <h4 class="category text-muted">{{ ( appService.Data.categories | filterById : product.categoryId )?.name }}</h4>                                                                     
                            <a [routerLink]="['/productos/catalogo/', changeStringBrand(product.brand), changeString(product.productType, product.brand, product.mpn)]" class="title">
                                {{product.productType}}<br>
                                {{product.brand}} {{product.mpn}}
                            </a>
                            <p class="py-1 text-muted lh">{{product.description}}</p>
                            <div fxLayout="row" fxLayoutAlign="center" class="prices">
                                <div fxLayout="column" fxLayoutAlign="center">
                                    <p class="old-price text-muted"><span *ngIf="product.oldPrice">${{product.oldPrice | number : '1.2-2'}}</span></p>
                                    <p class="new-price">${{product.newPrice | number : '1.2-2'}}</p>
                                </div>
                            </div>                            
                            <div class="divider"></div>
                            <div class="icons">
                                <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>

        <div *ngIf="products.length > 0" fxLayout="row wrap">
            <div fxFlex="100"> 
                <mat-card class="p-0 text-center">           
                    <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
                </mat-card>
            </div>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>
