.whats{
    color: #fff !important;
    background-color: #35b73a !important;
    padding: 5px 8px 2px;
    margin-right: 3px;
    line-height: 21px;
    border-radius: 5px !important;
}
.llamanos{
    color: #fff !important;
    background-color: #f68600 !important;
    padding: 5px 8px 2px;
    margin-right: 3px;
    line-height: 21px;
    border-radius: 5px !important;
}
