$jardepot-primary: mat-palette($mat-gray, 800, 50, 900);
$jardepot-accent: mat-palette($mat-orange, A700, 50, A700);
$jardepot-warn: mat-palette($mat-orange, '#f68600', '#f68600', '#f68600');
$jardepot-theme: mat-light-theme($jardepot-primary, $jardepot-accent, $jardepot-warn);
